.body {
    flex: 0.8;
    height: 100vh;
    color: white;
    padding: 30px;
    overflow-y: overlay;
    /* background-color: rgb(91, 87, 115); */
    background: linear-gradient(rgb(91, 87, 115), black)    
}

.body::-webkit-scrollbar {
    display: none;
}

.body_info {
    display: flex;
    /* align items to the bottom of flex grid */
    align-items: flex-end;
}

.body_info > img {
    height: 20vh;
    /* understand the difference between margin and padding here and it's affect on the shadowing */
    margin: 0 20px;
    box-shadow: 0 4px 60px rgb(0, 0, 0, .5);
}

.body_infoText > h4 {
    font-size: 48px;
    margin-bottom: 10px;
}

.body_infoText > p {
    font-size: 12px;
}

.body_icons {
    display: flex;
    align-items: center;
}

.body_icons > .MuiSvgIcons-root {
    margin-right: 20px;
}

.body_shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body_shuffle:hover {
    transition: .1s transform ease-in;
    transform: scale(1.08);
}