.songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.songRow:hover {
    cursor: pointer;
    color: black;
    opacity: 0.8;
}

.songRow_info {
    margin-left: 20px;
}

.songRow > .songRow_albumLogo {
    height: 40px;
    width: 40px;
}

.songRow_info > h1 {
    font-size: 16px;
}

.songRow_info > p {
    color: gray;
    font-size: 14px;
    margin-top: 3px;
}